<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Fastfood Restaurant Gallery</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Lesson 1 - My Gallery of Popular Fastfood Restaurants</h1>
	<hr>
	
	<div class="boxes">
		<img src="mcdonalds.png">
		<div class="content">
			<h3>McDonalds</h3>
			<p>You classic fast food taste good. 4/10 deliciousness.</p>
		</div>
	</div>

	<div class="boxes">
		<img src="burgerking.jpg">
		<div class="content">
			<h3>BurgerKing</h3>
			<p>Burgerking is upgraded Mcdonald's. Taste better than normal fast food 7/10 deliciousness.</p>
		</div>
	</div>

	<div class="boxes">
		<img src="subway.jfif">
		<div class="content">
			<h3>Subway</h3>
			<p>Subway is premium fast food. It is the only one that is actually healthy. good food 9/10.</p>	
		</div>
	</div>

	<script type="text/javascript" src="app.js">
	</script>
</body>
</html>